#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: bisque;
}

.app {
  background-color:cadetblue;
  color: black;
}

.homepage-header {
  background-color: cadetblue;
  color: black;
}

.edit-exercise {
  background-color: chocolate;
}

.add-exercise {
  background-color: chocolate;
}

.collection-item {
  border: 2px solid rgb(202, 200, 89);
  border-radius: 8px;
  width: 600px;
  margin-top: 16px;
  padding: 16px;
}

.collection-container {
  border: 6px solid rgb(0, 255, 136);
  padding: 32px;
}

.collection-header {
  font-weight: bold;
  font-size: 1.2em;
  padding-bottom: 8px;
  border: 6px solid rgb(0, 255, 136);
}

input {
  padding: 8px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: calc(100% - 18px); /* Adjust width to account for padding and border */
}

button {
  padding: 10px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  background-color: #4CAF50; /* Green background */
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #45a049; /* Darker green on hover */
}

a {
  color: white;
  text-decoration: none;
}

a:hover,
a:active,
a:focus {
  color: blue;
  text-decoration: underline;
}